In [56]:
import numpy as np
import pandas as pd

In [57]:
from pandas_datareader import data as wb

In [58]:
PG = wb.DataReader('PG', data_source ='yahoo', start='1995-1-1')

In [59]:
PG

                  High         Low        Open       Close     Volume   Adj Close
Date
1995-01-03   15.625000   15.437500   15.468750   15.593750  3318400.0    8.215732
1995-01-04   15.656250   15.312500   15.531250   15.468750  2218800.0    8.149876
1995-01-05   15.437500   15.218750   15.375000   15.250000  2319600.0    8.034625
1995-01-06   15.406250   15.156250   15.156250   15.281250  3438000.0    8.051086
1995-01-09   15.406250   15.187500   15.343750   15.218750  1795200.0    8.018162
...                ...         ...         ...         ...        ...         ...
2020-11-11  143.000000  140.649994  141.850006  142.070007  5554300.0  142.070007
2020-11-12  142.550003  141.070007  142.289993  142.149994  5631700.0  142.149994
2020-11-13  144.479996  141.880005  142.210007  144.279999  6466800.0  144.279999
2020-11-16  144.779999  141.259995  144.779999  142.429993  7976600.0  142.429993
2020-11-17  143.470001  141.750000  141.889999  141.880005  6396000.0  141.880005

[6517 rows x 6 columns]

In [60]:
PG.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6517 entries, 1995-01-03 to 2020-11-17
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       6517 non-null   float64
 1   Low        6517 non-null   float64
 2   Open       6517 non-null   float64
 3   Close      6517 non-null   float64
 4   Volume     6517 non-null   float64
 5   Adj Close  6517 non-null   float64
dtypes: float64(6)
memory usage: 356.4 KB

In [61]:
PG.head()

                High       Low      Open     Close     Volume  Adj Close
Date
1995-01-03  15.62500  15.43750  15.46875  15.59375  3318400.0   8.215732
1995-01-04  15.65625  15.31250  15.53125  15.46875  2218800.0   8.149876
1995-01-05  15.43750  15.21875  15.37500  15.25000  2319600.0   8.034625
1995-01-06  15.40625  15.15625  15.15625  15.28125  3438000.0   8.051086
1995-01-09  15.40625  15.18750  15.34375  15.21875  1795200.0   8.018162

In [62]:
PG.tail()

                  High         Low        Open       Close     Volume   Adj Close
Date
2020-11-11  143.000000  140.649994  141.850006  142.070007  5554300.0  142.070007
2020-11-12  142.550003  141.070007  142.289993  142.149994  5631700.0  142.149994
2020-11-13  144.479996  141.880005  142.210007  144.279999  6466800.0  144.279999
2020-11-16  144.779999  141.259995  144.779999  142.429993  7976600.0  142.429993
2020-11-17  143.470001  141.750000  141.889999  141.880005  6396000.0  141.880005

In [63]:
PG.tail(20)

                  High         Low        Open       Close      Volume   Adj Close
Date
2020-10-21  144.339996  142.470001  142.490005  143.250000   5649700.0  142.459000
2020-10-22  142.750000  141.080002  141.490005  141.449997   4502900.0  141.449997
2020-10-23  142.880005  141.759995  141.759995  142.380005   4278100.0  142.380005
2020-10-26  142.050003  140.009995  141.500000  141.300003   5315500.0  141.300003
2020-10-27  143.339996  141.649994  141.940002  142.360001   6806700.0  142.360001
2020-10-28  140.940002  137.309998  140.449997  137.660004   8192200.0  137.660004
2020-10-29  139.089996  135.800003  137.350006  137.570007   5476900.0  137.570007
2020-10-30  137.990005  134.679993  137.179993  137.100006   6422000.0  137.100006
2020-11-02  140.000000  137.440002  138.509995  138.500000   6682800.0  138.500000
2020-11-03  142.660004  139.320007  139.320007  141.220001   6244200.0  141.220001
2020-11-04  143.000000  140.270004  140.460007  140.639999   5820600.0  140.639999
2020-11-05  143.529999  141.779999  142.440002  142.380005   5673100.0  142.380005
2020-11-06  144.070007  142.380005  142.669998  143.229996   4702300.0  143.229996
2020-11-09  146.919998  137.600006  146.149994  137.990005  12664700.0  137.990005
2020-11-10  140.619995  137.149994  138.100006  140.259995   7854000.0  140.259995
2020-11-11  143.000000  140.649994  141.850006  142.070007   5554300.0  142.070007
2020-11-12  142.550003  141.070007  142.289993  142.149994   5631700.0  142.149994
2020-11-13  144.479996  141.880005  142.210007  144.279999   6466800.0  144.279999
2020-11-16  144.779999  141.259995  144.779999  142.429993   7976600.0  142.429993
2020-11-17  143.470001  141.750000  141.889999  141.880005   6396000.0  141.880005

In [64]:
tickers = ['PG', 'MSFT', 'T', 'F', 'GE']
new_data = pd.DataFrame()
for t in tickers:
    new_data[t]= wb.DataReader(t, data_source='yahoo', start='1995-1-1')['Adj Close']

In [65]:
new_data.tail()

                    PG        MSFT          T     F    GE
Date
2020-11-11  142.070007  216.550003  28.730000  8.33  8.89
2020-11-12  142.149994  215.440002  28.440001  8.21  8.76
2020-11-13  144.279999  216.509995  28.910000  8.54  9.25
2020-11-16  142.429993  217.229996  28.969999  8.80  9.57
2020-11-17  141.880005  214.460007  29.030001  8.75  9.68